h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}
h5{
  margin-top: 10px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

p {
  text-align: center;
  margin-bottom: -2px;
  font-family: "Courier New", Courier, monospace;
}

#journey {
  margin-left: 10px;
}
.col-12 {
  // padding: 5px;
  background-color: white;
  // box-shadow: 0 0 4px rgba(250,39,2,0.3);
  border-radius: 0 0 5px 5px;
}
#Badges{
  padding: 5px;
  background-color: white;
  // box-shadow: 0 0 4px rgba(250,39,2,0.3);
}
#pf {
  // margin-top: 60px;
  background-color: white;
  // box-shadow: 0 0 4px rgba(250,39,2,0.3);
  border-radius: 5px 5px 0 0;
}

.user-picture {
  position: relative;
}

.picture {
  border-radius: 46px;
  border: 3px solid blue;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 2px rgba(250,39,2,0.3);
}

.badge-level {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  position: absolute;
  bottom: -10px;
  right: 50%;
  margin-right: -12.5px;
}

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.button {
  border-bottom: 3px solid grey;
  text-align: center;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.button:hover {
  background-color: #ddd;
  border-bottom: 3px solid pink;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 6px;
}

.picture-pins {
  width: 47%;
  margin: 3px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(250,39,2,0.3);
}

.picture-friends {
  width: 47%;
  margin: 3px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(250,39,2,0.3);
}

.picture-xp {
  width: 40%;
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
