h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
h4 {
  text-align: center;
}
h5{
  margin-top: 10px;
  text-align: center;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}
.col-12 p {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  margin-bottom: -2px;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}
.overflow-ellipsis {
  width: 150px;
  text-overflow: ellipsis;
}
#journey {
  margin-left: 10px;
}
.col-12 {
  // padding: 5px;
  background-color: #FFFAFA;
  // box-shadow: 0 0 4px rgba(250,39,2,0.3);
  border-radius: 5px 5px 0 0;
}
#tab{
  background-color: #FFFAFA;
  border-radius: 0 0 5px 5px ;
}
#Badges{
  padding: 5px;
  background-color: #FFFAFA;
  // box-shadow: 0 0 4px rgba(250,39,2,0.3);
}
#pf {
  // margin-top: 60px;
  background-color: #FFFAFA;
  // box-shadow: 0 0 4px rgba(250,39,2,0.3);
  border-radius: 0 0 5px 5px ;
}

.user-picture {
  position: relative;
}

.picture {
  border-radius: 50%;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  box-shadow: 2px 3px 4px rgba(251, 169, 97,0.2);
}

.badge-level {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  position: absolute;
  bottom: -10px;
  right: 50%;
  margin-right: -12.5px;
}

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.button {
  border-bottom: 3px solid #700F00;
  text-align: center;
  padding: 0 !important;
}

.tab button {
  border-radius: 7px 7px 0 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.button:hover {
  background-color: rgba(251, 169, 97,0.2);
  border-bottom: 3px solid #FA851D;
}

/* Create an active/current tablink class */
.tab button.active {
  // border-radius: 7px 7px 0 0;
  background-color: rgba(251, 169, 97,0.2)
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 6px;
}

.picture-pins {
  width: 47%;
  margin: 3px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(250,39,2,0.3);
}

.picture-friends {
  width: 47%;
  margin: 3px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(250,39,2,0.3);
}

.picture-xp {
  width: 40%;
  margin-top: -15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 2px 3px 4px rgba(251, 169, 97,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  text-align: left;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
