h1{
  text-align: center;
}
h3{
  text-align: center;
}
h4{
  text-align: center;
}
p{
  text-align: center;
  margin-bottom: -2px;
}
#journey{
  margin-left: 10px;
}
.picture{
  border-radius: 50%;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

