
<div class="container">
  <div class="row">
    <div class="col-12">
      <img class="picture" src="https://www.fondationbiodiversite.fr/wp-content/uploads/2019/02/FRB-Raoul-Daubresse.jpg">
      <h5>Username</h5>
      <p>LVL</p>
      <%= image_tag "xp.png", class: "picture-xp" %>
    </div>

    <div class="col-12" id="Badges">
      <p>Badges:<p>
    </div>

    <div class="col-12" id="pf">
      <p>Pins :</p>
      <img class="picture-pins" src="https://www.fondationbiodiversite.fr/wp-content/uploads/2019/02/FRB-Raoul-Daubresse.jpg">
      <%= image_tag "plus.png", class: "picture-pins" %>
      <p>Friends :</p>
      <img class="picture-friends" src="https://www.fondationbiodiversite.fr/wp-content/uploads/2019/02/FRB-Raoul-Daubresse.jpg">
      <%= image_tag "plus.png", class: "picture-friends" %>
    </div>
  </div>
</div>
