<div class="container">
  <div class="row">

    <div class="col-12 col-lg-8" style="background-color:yellow;">
        <img class="picture" src="https://www.fondationbiodiversite.fr/wp-content/uploads/2019/02/FRB-Raoul-Daubresse.jpg">
        <p>Username</p>
        <p>LVL: 42</p>
    </div>

    <div class="col-12 col-lg-4" style="background-color:pink;">
      <p>Friends</p>
    </div>

</div>
