#map{
position: absolute;
top: 0px;
z-index: 1;
overflow: hidden;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Work Sans", "Helvetica", "sans-serif";;
  border-radius: 10px;
}
