#map{
position: absolute;
top: 0px;
z-index: 1;
}
.mapboxgl-popup {
  max-width: 100px;
  border-radius: 10px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
