.mapboxgl-map p{
  zoom: 150%;
  margin-bottom: 5px;
}
.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  border-radius: 9px !important;
  box-shadow: 0 4px 3px rgba(251, 169, 97,0.3) !important;
  text-align: center;
  border: 2px solid aliceblue;
}
.mapboxgl-popup-content h5{
  text-transform: uppercase;
  padding: 0 15px;
}
.mapboxgl-popup-content p{
  padding-bottom: 7px !important;
}
.mapboxgl-popup-content .btn {
  border-radius: 9px !important;
  display: block;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: -11px;
}

.mapboxgl-popup-close-button{
  zoom: 150%
}
