.ratings {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  direction: rtl;
  text-align: left;
}

.star-white {
  position: relative;
  line-height: 60px;
  display: inline-block;
  color: #ebebeb;
}

.star-yellow {
  position: relative;
  line-height: 60px;
  display: inline-block;
  transition: color 0.2s ease;
  color: #FFDF00;
}


.star:before {
  content: '\2605';
  width: 60px;
  height: 60px;
  font-size: 60px;
}


.star:hover,
.star.selected,
.star:hover ~ .star,
.star.selected ~ .star{
  transition: color 0.8s ease;
  color: yellow;
}
